@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
:root {
  --header-height: 3rem;
  --nav-width: 324px;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  --first-color: rgb(181, 116, 228);
  --first-color-dark: rgb(98, 40, 139);
  --first-color-darken: rgb(65, 23, 96);
  --text-color: #493d54;
  --first-color-light: #eae7e6;
  --first-color-lighten: rgb(239, 238, 240);
  --body-font: "Poppins", sans-serif;

  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  --mb1: 0.5rem;
  --mb2: 1rem;
  --mb3: 1.5rem;
  --mb4: 2rem;
  --mb5: 2.5rem;

  --z-fixed: 100;
}

@media screen and (min-width: 768px) {
  :root {
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}
*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  background-color: var(--first-color-lighten);
  color: var(--text-color);
  line-height: 1.6;
}
h1,
h2,
h3,
p {
  margin: 0;
}
h3 {
  font-weight: var(--font-semi-bold);
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
.section {
  padding: 4rem 0 2rem;
}
.section-title {
  font-size: var(--h1-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb3);
  text-align: center;
}
.section-subtitle {
  display: block;
  font-size: var(--small-font-size);
  color: var(--first-color-darken);
  text-align: center;
  font-weight: var(--font-bold);
  margin-bottom: 0.25rem;
}
.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  width: calc(100%-2rem);
  margin-left: var(--mb2);
  margin-right: var(--mb2);
}
.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--first-color-lighten);
  box-shadow: 0 2px 4px rgb(0, 0, 0, 0.1);
}
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 70%;
  height: 100vh;
  padding: 3rem;
  display: flex;
  align-items: center;
  background-color: var(--first-color);
  transition: 0.5s;
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: var(--first-color-darken);
  cursor: pointer;
}
.nav__item {
  margin-bottom: var(--mb4);
  position: relative;
  left: -100%; /* Initially position each item off the left side */
  opacity: 0; /* Initially hide each item */
  transition: left 1s ease, opacity 1s ease; /* Apply transition effect for left and opacity */
}
.nav__link {
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--first-color-lighten);
  font-weight: var(--font-bold);
  transition: 0.3s;
}
.nav__link:hover {
  color: var(--text-color);
}
.nav__toggle {
  color: var(--first-color-dark);
  font-size: 1.3rem;
  cursor: pointer;
}
.show {
  left: 0;
}
.active {
  color: var(--text-color);
}
.home__container {
  height: calc(100vh - var(--header-height));
  align-items: center;
}
.home__data {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
  text-align: center;
}
.home__img {
  padding: 0.1rem;
  width: 180px;
  height: 180px;
  background-color: var(--first-color);
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: var(--mb2);
}
.home__img img {
  width: 200px;
}
.home__title {
  font-size: var(--h1-font-size);
  color: var(--first-color-darken);
  font-weight: var(--font-semi-bold);
}
.home__profession {
  font-size: var(--small-font-size);
  color: var(--first-color-darken);
  margin-bottom: var(--mb5);
}
.home-social {
  margin-bottom: 5rem;
}

.home__social-link {
  display: inline-flex;
  background-color: var(--first-color);
  color: var(--first-color-lighten);
  font-size: 1.1rem;
  border-radius: 50%;
  padding: 0.4rem;
  margin: 0 var(--mb1);
  transition: 0.3s;
}
.home__social-link:hover {
  background-color: var(--first-color-dark);
}
.home__button {
  width: 100%;
}
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: var(--first-color-lighten);
  padding: 1rem 2rem;
  font-weight: var(--font-semi-bold);
  border-radius: 0.5rem;
  transition: 0.3s;
}
.button:hover {
  background-color: var(--first-color-dark);
}
.button__light {
  background-color: var(--first-color-lighten);
  color: var(--first-color);
}
.button__light:hover {
  color: var(--first-color-lighten);
}
.about__container {
  row-gap: 2rem;
}
.about__data {
  text-align-last: center;
}
.about__description {
  margin: var(--mb4);
  text-align: justify;
}
.about__img {
  width: 200px;
  border-radius: 0.5rem;
  margin: 0 auto;
}
.about__information {
  margin: var(--mb4);
  margin-bottom: var(--mb5);
}
.about__information-title {
  font-size: var(--h3-font-size);
  color: var(--first-color-dark);
  margin-bottom: var(--mb2);
  margin-top: var(--mb2);
}
.about__information-data {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  margin-bottom: var(--mb3);
}
.about__information-icon {
  font-size: 1.5rem;
  color: var(--first-color);
  margin-right: var(--mb4);
}
.about__information-subtitle {
  display: block;
  font-weight: var(--font-semi-bold);
}
.about__information-subtitle-small {
  font-size: var(--small-font-size);
}
.link {
  font-size: var(--smaller-font-size);
  text-decoration: underline;
}

.skills__container {
  row-gap: 2rem;
}
.skills__subtitle {
  font-size: var(--h3-font-size);
  color: var(--first-color-dark);
  margin-bottom: var(--mb2);
}
.skills__data {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 var(--mb2);
  margin-bottom: var(--mb4);
  transition: transform 0.3s;
}
.skills__bar {
  position: absolute;
  bottom: -0.75rem;
  height: 0.25rem;
  background-color: var(--first-color);
  transition: width 1s ease;
}

.education__container {
  row-gap: 2rem;
}
.education__content {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
}
.education__year,
.education__race {
  font-size: var(--h3-font-size);
  margin-bottom: 0.25rem;
}
.education__university,
.education__speciality {
  display: block;
  font-size: var(--smaller-font-size);
}
.education__year,
.education__university {
  text-align-last: right;
}
.education__time {
  padding: 0 1rem;
  justify-self: center;
}
.education__rounder {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: var(--first-color);
  border-radius: 50%;
}
.education__rounder::before {
  content: "";
  position: absolute;
  transform: translate(-4px, -4px);
  width: 20px;
  height: 20px;
  border: 1px solid var(--first-color-dark);
  border-radius: 50%;
}
.education__line {
  display: block;
  height: 90%;
  width: 2px;
  background-color: var(--first-color);
  transform: translate(5px, -4px);
}
.forte__container {
  row-gap: 2rem;
}
.forte__content {
  padding: 1.5rem 0.5rem;
  border: 2px solid var(--first-color);
  border-radius: 0.5rem;
  text-align-last: center;
}
.forte__icon {
  font-size: 2rem;
  padding: 0.5rem;
  background-color: var(--first-color);
  color: var(--first-color-lighten);
  border-radius: 50%;
  margin-bottom: var(--mb2);
}
.forte__title {
  font-size: 1.25rem;
  color: var(--first-color-dark);
  margin-bottom: var(--mb1);
}
.forte__content,
.forte__icon,
.forte__description,
.forte__title {
  transition: 0.5s;
}
.forte__content:hover {
  background-color: var(--first-color);
}
.forte__content:hover .forte__icon {
  background-color: var(--first-color-lighten);
  color: var(--first-color);
}
.forte__content:hover .forte__title {
  color: var(--first-color-lighten);
}
.forte__content:hover .forte__description {
  color: var(--first-color-lighten);
}
.forte__description {
  padding-left: 0.5rem;
}
.work__container {
  justify-items: center;
  row-gap: 2rem;
}
.work__img {
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
}
.work__data {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(178, 106, 211, 0.65);
  border-radius: 0.5rem;
  transition: 0.5s;
}
.work__link {
  display: inline-flex;
  font-size: 1.5rem;
  background-color: var(--first-color-lighten);
  color: var(--first-color);
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin-bottom: var(--mb2);
}

.work__title {
  font-size: var(--h2-font-size);
  color: var(--first-color-lighten);
}
.work__img:hover .work__data {
  bottom: 0;
}
.contact__container {
  row-gap: 3rem;
}
.contact__input {
  width: 100%;
  padding: 1rem;
  outline: none;
  border: none;
  resize: none;
  background-color: var(--first-color-light);
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb2);
  border-radius: 0.5rem;
}
.contact__input::placeholder {
  color: var(--first-color-dark);
  font-family: var(--body-font);
  font-weight: var(--font-medium);
}
.contact__button {
  outline: none;
  border: none;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  cursor: pointer;
}

.contact__info {
  margin-bottom: var(--mb3);
}
.contact__subtitle {
  font-size: var(--h3-font-size);
  color: var(--first-color-dark);
  margin-bottom: var(--mb1);
}
.contact__text {
  display: block;
  padding-left: 1rem;
}
.footer {
  background-color: var(--first-color-darken);
  color: var(--first-color-lighten);
  text-align: center;
}
.footer__title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb2);
}
.footer__description {
  margin-bottom: var(--mb5);
  font-size: var(--h3-font-size);
}
.footer__copy {
  font-size: var(--smaller-font-size);
  color: var(--first-color);
}

@media screen and (min-width: 768px) {
  .home__button {
    width: initial;
  }
  .nav__menu {
    width: var(--nav-width);
  }
  .about__container,
  .skills__container,
  .forte__container,
  .work__container,
  .contact__container,
  .contact__input {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .about__data {
    text-align-last: initial;
  }
  .about__img {
    width: 220px;
  }
  .about__description {
    margin-bottom: var(--mb5);
  }
  .about__information {
    padding-left: 4.5rem;
  }
  .education__time {
    padding: 0 2rem;
  }
  .contact__info {
    padding-left: 3rem;
  }
  .contact__container {
    column-gap: 2rem;
  }
  .footer {
    background-color: var(--first-color-lighten);
  }
  .footer__container {
    background-color: var(--first-color-darken);
    padding: 3rem 0;
    border-radius: 0.5rem;
  }
}
@media screen and (min-width: 1250px) {
  body {
    margin: 0;
    padding-left: var(--nav-width);
  }
  .l-header {
    width: 0;
  }
  .nav__toggle,
  .nav__logo,
  .nav__close {
    display: none;
  }
  .nav__menu {
    left: 0;
  }
  .home__container {
    height: 100vh;
  }
  .section {
    padding: 3rem 0 2rem;
  }
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .forte__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .nav__item {
    position: relative;
    left: -100px; /* Initially position each item off the left side */
    opacity: 0; /* Initially hide each item */
    transition: left 1s ease, opacity 1s ease; /* Apply transition effect for left and opacity */
  }

  .nav__item.active {
    left: 0; /* Move each item to the starting position */
    opacity: 1; /* Make each item visible */
  }
  .toggle__theme {
     padding-top: 4rem;
    padding-left: 14rem;
    color: var(--first-color-lighten);
  }
  .toggle__icon {
    color: var(--first-color-lighten);
  }
  .toggle__theme :hover {
    color: var(--first-color-dark);
  }
}

.activate {
  left: 0; /* Move each item to the starting position */
  opacity: 1; /* Make each item visible */
}

.skills__data:hover {
  transform: scale(1.1);
}

.skills__bar.transition {
  width: 50%;
}
.toggle__theme {
  position: relative;
  top: 0.1rem;
  font-size: 1.25rem;
  color: var(--first-color-dark);
  cursor: pointer;
}
body.dark-theme {
  --first-color: #a34ac4; 
  --first-color-dark: #9a59b4;
  --first-color-darken: #c07ee9 ;
  --text-color: #e0e0e0; 
  --first-color-light: #302c2c; 
  --first-color-lighten: #1c191d; 
  --body-font: "Poppins", sans-serif;
}
.toggle__theme :hover {
  color: var(--text-color);
}