:root {
  --color-primary: #7380ec;
  --color-danger: #ff7732;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #97a6b7;
  --color-info-light: #dce1ebf3;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-dead-button: #cccccc;

  --first-color: rgb(181, 116, 228);
  --first-color-dark: rgb(98, 40, 139);
  --first-color-darken: rgb(65, 23, 96);
  --text-color: #493d54;
  --first-color-light: #eae7e6;
  --first-color-lighten: rgb(239, 238, 240);
  --body-font: "Poppins", sans-serif;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
}

body {
  font-family: var(--body-font);
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  display: grid;
}

a {
  padding-top: var(--card-padding);
}

h2 {
  color: var(--first-color-darken);
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: var(--card-border-radius);
  display: inline-block;
  text-align: left;
  transition: all 0.3s ease;
}

form:hover {
  box-shadow: 0 0.2rem 0.6rem var(--color-dark);
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2rem;
}

input[type="submit"] {
  background-color: var(--first-color);
  color: #fff;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: var(--first-color-dark);
}

@keyframes vanish {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

h5 {
  animation: vanish 3s ease forwards;
  position: absolute;
  margin-top: 18rem;
  margin-left: 6.5rem;
}

.remember-me {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: baseline;
}

.remember-me input[type="checkbox"] {
  margin-right: 2px;  
  transform: scale(0.9);
}

.remember-me label {
  margin-left: 1px; /* Add margin to separate checkbox and label */
  font-size: 0.9rem;
}

.remember {
  margin: 0;
  border: 0;
  padding: 0;
  width: 10%;
}

.remember-me input {
  font-size: 0.77rem;
}
